{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>O nás</h1>
<p>Hledáte spolehlivého partnera pro elektroinstalace, obnovitelné energie popř
E-mobilitu? Pak jste na správném místě! Elektro firmě vám nabízí řešení šitá na míru v oblasti chytré domácnosti, komplexních energetických koncepcí i účinných systémů ochrany před bleskem a uzemnění. Nechte se přesvědčit o našem kompetentním poradenství, kvalitním provedení a flexibilitě – jsme tu, abychom co nejlépe splnili vaše požadavky!</p>

{% endblock %}
