{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .home-page {
        background-image: url("{% static 'images/electricity_background_home.jpg' %}");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        padding: 100px 20px;
        border-radius: 10px;
    }
    .home-page h1 {
        font-weight: bold;
        font-size: 3rem;
    }
    .home-page .btn {
        margin: 10px;
    }
    .btn-about {
        background-color: rgba(0, 123, 255, 0.8); /* Poloprůhledná modrá barva */
        color: white;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        transition: background-color 0.3s;
    }
    .btn-about:hover {
        background-color: rgba(0, 123, 255, 1); /* Plná modrá barva při najetí */
    }
    .admin-link {
        margin-top: 20px;
        display: inline-block;
        font-size: 1.1rem;
        color: white;
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="home-page text-center">
        <h1 class="display-4">Vítejte u Elektro Urban</h1>
        <p class="lead">Poskytujeme kvalitní elektroinstalační služby s více než 20 lety zkušeností.</p>
        <a href="{% url 'project-list' %}" class="btn btn-primary btn-lg">Naše projekty</a>
        <a href="{% url 'about' %}" class="btn btn-about btn-lg">O nás</a>

    </div>
</div>
{% endblock %}
